/* top */
body {
  background: #e8f6ef;
}
.weather-app {
  max-width: 800px;
  text-align: center;
  margin: 30px auto;
  padding: 20px;
}
.card {
  border: none;
  border-radius: 16px;
}
.btn {
  background: #b8dfd8;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  height: 50px;
}
.search-input {
  height: 50px;
  border-radius: 6px;
}
#location-button {
  background-color: white;
  border: none;
}
#location-button:hover {
  transition: all 200ms ease-in-out;
  background-color: #e8f6ef;
}
#city {
  font-weight: 500;
  color: #4c4c6d;
  font-size: 50px;
  padding: 10px 0px;
}
p {
  color: #4c5260;
}

/* middle */
img {
  vertical-align: sub;
}
#degrees-change {
  font-weight: 500;
  color: #4c4c6d;
  font-size: 60px;
}
.weather-information .temperature {
  font-size: 15px;
  position: relative;
  top: -34px;
}
a {
  text-decoration: none;
}
a:hover {
  color: black;
}
.weather-description {
  color: #4c5260;
  padding-top: 10px;
  padding-bottom: 20px;
}
.weather-details {
  color: #4c5260;

  padding-bottom: 30px;
}

/* bottom */
.row-week {
  color: #4c5260;
  font-size: 18px;
  padding-top: 30px;
  border-top: 1px solid #f9f7fe;
}
.row-temperature-1 {
  color: #4c5260;
  font-size: 18px;
}
.row-temperature-2 {
  color: #939393;
  font-size: 18px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f9f7fe;
}
small {
  margin: 13px;
  padding: 0px 0 20px;
}
