/* top */

.weather-app {
  max-width: 800px;
  text-align: center;
  margin: 30px auto;
  padding: 20px;
}

#location-button {
  background-color: white;
  transition: all 200ms ease-in-out;
  border: none;
}
#location-button:hover {
  transition: all 200ms ease-in-out;
  background-color: lightgrey;
}
#city {
  font-weight: 500;
  color: #007cb9;
  font-size: 50px;
  padding: 10px 0px;
}
p {
  color: #4c5260;
}

/* middle */
#degrees-change {
  font-weight: 500;
  color: #007cb9;
  font-size: 60px;
}
.degrees-change .temperature {
  font-size: 15px;
  position: relative;
  top: -34px;
}
a {
  text-decoration: none;
}
a:hover {
  color: black;
}
.weather-description {
  color: #4c5260;
  padding-top: 10px;
  padding-bottom: 20px;
}
.weather-details {
  color: #4c5260;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

/* botton */
.row-week {
  color: #4c5260;
  font-size: 18px;
  padding-top: 30px;
}
.row-temperature-1 {
  color: #4c5260;
  font-size: 18px;
}
.row-temperature-2 {
  color: #939393;
  font-size: 18px;
}
