body {
  background: #eee;
  color: white;
}
.card {
  border: none;
  border-radius: 16px;
  background-size: cover;
  margin-bottom: 20px;
  padding: 0px 25px;
}

.weather-app {
  max-width: 960px;
  text-align: center;
  margin: 0 auto;
  padding: 30px;
}

.search-input {
  height: 50px;
  border-radius: 6px;
}

#search-button {
  margin-left: -240px;
  background-color: white 0.98;
  padding: 10px 20px;
  border-radius: 6px;
  height: 50px;
  border: 1px solid #ced4da;
}

#location-button {
  background-color: white 0.98;
  padding: 10px 20px;
  border-radius: 6px;
  height: 50px;
  border: 1px solid #ced4da;
}
#location-button:hover,
#search-button:hover {
  transition: all 200ms ease-in-out;
  background-color: white;
}
#location-button:active #search-button:active {
  border: #3575f4;
}
#city {
  font-weight: 500;
  font-size: 50px;
  padding: 10px 0px;
}
p {
  font-size: 14px;
}

/* middle */

#weather-icon {
  height: 85px;
  width: 85px;
  vertical-align: bottom;
}
#degrees-change {
  font-weight: 500;
  font-size: 70px;
}
.weather-information .temperature {
  position: relative;
  top: -34px;
}
.active {
  color: white;
  cursor: default;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #ced4da;
  transition: all 0.5s ease-out;
}
a:hover {
  color: #f9c4ac;
}
.weather-description {
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: 500;
}
.weather-description:first-letter {
  text-transform: capitalize;
}
.weather-details {
  padding-bottom: 10px;
  font-size: 16px;
}

/* bottom */

.weather-forecast {
  padding: 10px 0px 30px;
}
.col-2-edit {
  width: 130px;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid #ced4da;
  box-shadow: 4px 4px 10px #4c4c6d;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
}
.weather-forecast-day {
  font-weight: 500;
}
.temperature-max {
  font-size: 13px;
  text-align: center;
  font-weight: 500;
}
.temperature-min {
  opacity: 90%;
  font-size: 13px;
  text-align: center;
}
.coded {
  color: #4c4c6d;
}
.github-link {
  color: #23689b;
}
