/* top */
.card {
  width: 800px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

#location-button {
  background-color: white;
  transition: all 200ms ease-in-out;
  border: none;
}
#location-button:hover {
  transition: all 200ms ease-in-out;
  background-color: lightgrey;
}
#city {
  font-weight: 400;
  color: #007cb9;
}
#date {
  font-size: 15px;
}

/* middle */
#degreeschange {
  font-weight: 500;
  color: #007cb9;
  font-size: 40px;
}
.temperature {
  position: relative;
  left: 0px;
  top: -25px;
  font-size: 15px;
}
.weather-description {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* botton */
.row-week {
  height: 50px;
  color: #4c5260;
  font-size: 20px;
}
.row-temperature-1 {
  color: #4c5260;
  font-size: 18px;
}
.row-temperature-2 {
  color: #939393;
  font-size: 18px;
}
